/*
CSS styling for personal project.
Author: Gideon Landry
Created: November 15, 2017
Modified: November 15, 2017
*/

#body {

    width: 100%;

}

#left {

    float: left;
    width: 50%;
    border: solid black;

}

#right {

    float: right;
    width: 50%;
    border: solid black;

}